.env
.env.local
.DS_Store
vendor/
node_modules/
composer.lock
package-lock.json
npm-debug.log*
yarn.lock
pnpm-lock.yaml
src/wp-content/uploads/
src/wp-content/cache/
src/wp-content/upgrade/
src/wp-content/debug.log
src/wp-config.php
*.sql
*.sql.gz
.phpunit.result.cache
